<html>
    <head>
        <title>@ViewBag.Title - ds.Tutorial</title>
    </head>
    <body>
        <div class="header">
            <h1 style="color: blue">ds.Tutorial</h1>
            <hr/>
        </div>

        <div class="content">
            @RenderBody()
        </div>

        <div class="footer">
            <hr/>

            @if(IsSectionDefined("footer")){
                RenderSection("footer");
            }else{
                <p>Layout Footer</p>
            }
        </div>
    </body>
</html>